h1{
    background-color: blueviolet;
    color: antiquewhite;
}
h2{
    background-color: blueviolet;
    color: antiquewhite;
}
h3{
    background-color: blueviolet;
    color: antiquewhite;
}